*{
    margin:0;
    padding:0;
}

.stack {
    display: flex;
    flex-direction: column;
  }
  
  .stack-element {
    flex-grow: 50vh;
    height: 100vh;
    width: auto;

  }

  .one{
    background-color:aquamarine;
  }

  .two{
    background-color: bisque;
  }

  .three{
    background-color: aqua;
  }