*{
    margin:0px;
    padding:0px;
}

body{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif; 
}

ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    gap: 8px;
    padding: 0px;
    margin:0px;
}

a{
    text-decoration: none;
    color:white;
    font-weight:bold;
}

.content_1{
    background-color: rgb(223, 207, 190);
    height:80vh;  
}

.content_2{
    background-color: rgb(231, 204, 250);
    height: 50vh;
}

.content_3{
    height: 85vh;
    display:flex;
}

.drinks{
    width:30vw;
    background-color: rgb(219, 248, 185);
}

.weather{
    width:70vw;
    background-color: rgb(200, 228, 236);
}


.header{
    position: fixed;
    width: 100vw;
}


.header,
.footer{
    background-color: rgb(239, 182, 90);
    padding:15px;
    min-height: 2vh;

}
